//- TODO: enable creation of a new page after each of a certain number of messages is displayed

extends layout 

block content 

    h1 Messages:

    if messageArray.length === 0

        p No messages here!

    else 
        
        each message in messageArray 

            div 
                h2=message.title
                p=message.messageBody

                if currentUser !== undefined && ["member", "admin"].includes(currentUser.status)

                    p By: !{message.author.fullName}
                    p=message.createdAt

                if currentUser !== undefined && currentUser.status === "admin"

                    form(action="delete-message", method="POST") 

                        div 

                            input(type="hidden", name="messageid", required,
                                value=message.id)

                            button Delete