//- TODO: write JS logic to prevent form submission when the values of each password input 
//- are different, if such logic can be written here--don't want to make an unnecessary 
//- submission since that would be inefficient

extends layout 

block content 
    h1 Sign Up Below:

    form(action="", method="POST") 

        //- TODO: instead of the conditional statement below, consider explicitly setting 
        //- value to persistedRequestBody.username for example, since if it is undefined then 
        //- the value shouldn't appear in the field anyway I think
        div 
            label(for="forename") *Forename: 
            input(id="forename", type="text", name="forename", required, 
                value=(persistedRequestBody ? persistedRequestBody.forename : ""))

        div 
            label(for="lastname") *Last name: 
            input(id="lastname", type="text", name="lastname", required, 
                value=(persistedRequestBody ? persistedRequestBody.lastname : ""))

        div 
            label(for="username") *Username: 
            input(id="username", type="text", name="username", required, 
                value=(persistedRequestBody ? persistedRequestBody.username : ""))

        div 
            label(for="username") *Password: 
            input(id="password", type="password", name="password", required,
                value=(persistedRequestBody ? persistedRequestBody.password : ""))

        div 
            label(for="confirmpassword") *Confirm Password: 
            input(id="confirmpassword", type="password", name="confirmpassword", required,
                value=(persistedRequestBody ? persistedRequestBody.confirmpassword : ""))

        button Submit

    if errorArray
        
        each error in errorArray 

            p=error.msg